<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= Rails.application.class.parent_name %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <%= render 'partials/navigation' %>

  <% if flash[:notice] %><div class="alert alert-info text-center"><%= flash[:notice] %></div><% end %>
  <% if flash[:alert] %><div class="alert alert-danger text-center"><%= flash[:alert] %></div><% end %>

  <%= yield %>

  <footer>
    <div class="container">
      <hr>
      <div class="row">
        <div class="col-lg-12">
          <span class="pull-right">
            <%= link_to I18n.t('pages.impressum.title'), pages_path(:impressum) %> /
            <%= link_to I18n.t('pages.privacy_policy.title'), pages_path(:privacy_policy) %>
          </span>
          <p>&hearts; <%= [2016, Time.now.year].uniq.join(' - ') %>, <%= Rails.application.class.parent_name %></p>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
